<md-dialog>
    <md-content class="md-padding">
        <form name="loginForm">
            <div layout="column">
                <md-radio-group ng-model="loginType" layout="row">
                    <md-radio-button ng-value="'login'" aria-label="Log in">Log in</md-radio-button>
                    <md-radio-button ng-value="'signup'" aria-label="Sign up">Sign up</md-radio-button>
                </md-radio-group>
                <md-input-container flex ng-if="loginType == 'signup'">
                    <label>Email</label>
                    <input type="email" ng-model="login.email">
                </md-input-container>
                <md-input-container flex >
                    <label>Username</label>
                    <input type="text" ng-model="login.username">
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="login.password">
                </md-input-container>
                <md-checkbox ng-model="login.rememberMe" aria-label="Remember me">
                    Remember me
                </md-checkbox>
            </div>
        </form>
    </md-content>
    <div class="md-actions">
        <md-button class="md-raised md-primary" ng-click="(loginType == 'signup')?createUser():signIn()" ng-bind="loginType == 'signup'?'Sign Up':'Login'"></md-button>
    </div>
</md-dialog>